@import "../../styles/_variables.scss";
@import "../../styles/media-queries.scss";

.current-weather-info {
  width: calc(100% - 10rem);
  margin: 0 5rem;
  position: absolute;
  top: 34rem;
  left: 0;

  @include device(tablet-portrait) {
    width: calc(100% - 20rem);
    margin: 0 10rem;
    top: 30rem;
  }

  @include device(tablet-landscape) {
    position: static;
    display: flex;
    align-items: flex-start;
    width: 75%;
    margin: unset;
  }

  .info-wrapper {
    width: 100%;
    padding: 2.5rem 1.5rem;
    background-color: var(--active-bg-primary);
    color: var(--text-tertiary);
    border-radius: var(--border-radius);
    display: flex;
    gap: 4%;

    .half {
      width: 48%;

      .info-item {
        display: flex;
        justify-content: space-between;

        &:not(:last-child) {
          margin-bottom: 1rem;
        }

        p {
          font-family: "Roboto-Light", serif;
          font-size: 1.6rem;
        }

        span {
          font-size: 1.6rem;
        }
      }
    }
  }
}